name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

permissions:
  contents: read

env:
  CARGO_TERM_COLOR: always

jobs:
  check:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - ubuntu-24.04-arm
          - macos-latest
          - windows-latest
    steps:
      # The Windows runners have autocrlf enabled by default.
      - name: Disable git autocrlf
        run: git config --global core.autocrlf false
        if: matrix.os == 'windows-latest'
      - name: Checkout
        uses: actions/checkout@v6
      # https://github.com/actions/cache/blob/main/examples.md#rust---cargo
      # Depends on `Cargo.lock` --> Has to be after checkout.
      - uses: actions/cache@v5
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-${{ runner.arch }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Install Rust
        run: rustup toolchain install nightly --no-self-update --profile minimal --component rust-src,rustfmt,clippy

      - name: Install cross
        run: cargo install cross --git https://github.com/cross-rs/cross
        if: matrix.os == 'ubuntu-latest'

      - name: Run test on ARM32 via QEMU
        run: cross test --target arm-unknown-linux-gnueabihf --workspace --all-features
        if: matrix.os == 'ubuntu-latest'

      # Aliases defined in `.cargo/config.toml`
      - name: Check formatting
        run: cargo fc

      - name: Run tests
        run: |
          cargo tw
          cargo twdoc

      - name: Run clippy
        run: cargo cw
